.header {
  color: var(--color-white);
  position: relative;
}

.header__logo {
  position: absolute;
  width: 10%;
  z-index: 1000;
}

.header__navbar {
  position: absolute;
  right: var(--gutter-horizontal);
  z-index: 1000;
}

.header__movie--container {
  height: 100%;
  overflow: hidden;
  position: relative;
}

.header__movie__img {
  width: 100%;
  display: block;
  z-index: -10;
}

.header__movie--content {
  position: absolute;
  left: 0;
  bottom: 0;
}

.header__movie__title {
}

.header__movie-cta {
}

.bg {
  background-color: red !important;
  box-shadow: 0 0 15px var(--color-black);
  transition: background-color 200ms linear;
}

.stars--box {
}

.fa-star.active {
  color: var(--color-yellow);
}

.header__movie__rating {
}
