.movie {
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 0.5rem 1rem var(--color-darkgrey);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  -webkit-transition: all ease-out 1s;
  transition: all ease-out 1s;
  background-color: var(--color-black);
  color: var(--color-white);
}

.movie:hover {
  transform: scale(1.05);
}

.movie__img__container {
  border-radius: 0.5rem 0.5rem 0 0;
  overflow: hidden;
}

.movie__img {
  display: block;
  width: 100%;
  border-radius: 0.5rem 0.5rem 0 0;
}

.movie__footer {
  position: relative;
  padding: var(--gutter-horizontal);
}

.movie__title {
  width: 80%;
}

.movie__rating__stars {
  position: absolute;
  bottom: var(--gutter-vertical);
  right: var(--gutter-horizontal);
}

.movie__date {
}
