.movie {
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 0.5rem 1rem var(--color-darkgrey);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  -webkit-transition: all ease-out 1s;
  transition: all ease-out 1s;
}

.movie:hover {
  transform: scale(1.05);
}

.movie__img__container {
  border-radius: 0.5rem 0.5rem 0 0;
  overflow: hidden;
}

.movie__img {
  display: block;
  width: 100%;
  border-radius: 0.5rem 0.5rem 0 0;
}

.movie__footer {
  position: relative;
  padding: var(--gutter-horizontal);
}

.movie__title {
  width: 80%;
}

.movie__rating {
  position: absolute;
  top: var(--gutter-vertical);
  right: var(--gutter-horizontal);
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: solid 3px var(--color-yellow);
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie__rating__stars {
  position: absolute;
  bottom: var(--gutter-vertical);
  right: var(--gutter-horizontal);
}

.movie__date {
}
