:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-darkgrey: #403838;
  --color-lightgrey: #8c8c8c;
  --color-yellow: #ffe018;

  --gutter-vertical: 2rem;
  --gutter-horizontal: 2rem;
}
